body {
  font-family: Arial;
  margin: 30px;
  background: #f7f7f7;
}

h2 {
  text-align: center;
}

.section {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.question {
  margin-bottom: 12px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
}
